# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/

# Data and credentials
*.json
config.py

# VSCode and Jupyter
.vscode/
.ipynb_checkpoints/

# OS metadata
.DS_Store
Thumbs.db